<div
  *ngIf="showGroup()"
  class="btn-group btn-group-toggle d-flex"
  tabindex="0"
  [ngClass]="{'flex-column':true}">
  <label
    *ngFor = "let val of values"
    [ngClass]="buttonClass(val.value)"
    [hidden]="!!hidden"
    [attr.active]="isActive(val.value)">
    <input
      class="radio-card-input"
      type="radio"
      [disabled]="!!disabled"
      [hidden]="!!hidden"
      [name]="val.value"
      [attr.checked]="isActive(val.value) ? '' : null"
      (click)="updateValue(val.value)">
    <div class="card-content">
      <h2>{{ val.header }}</h2>
      <p>{{ val.label }}</p>
    </div>
  </label>
</div>
